<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gd.itcarrier.api.dao.CustomerDao">
	<resultMap id="BaseResultMap" type="com.gd.itcarrier.api.domain.Customer">
		<result column="id" property="id" />
		<result column="org_id" property="orgId" />
		<result column="cust_name" property="custName" />
		<result column="description" property="description" />
	</resultMap>

	<parameterMap id="Customer" type="com.gd.itcarrier.api.domain.Customer"/>

	<sql id="Base_Column_List">
		id, org_id, cust_name, description
	</sql>

	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from customer
		where id = #{id}
	</select>

	<select id="findAllCustomer" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from customer
	</select>

	<insert id="saveCustomer" parameterMap="Customer" useGeneratedKeys="true" keyProperty="id">
		insert into
			customer(id,org_id,cust_name,description)
		values
			(#{id},#{orgId},#{custName},#{description})
	</insert>

	<update id="updateCustomer" parameterMap="Customer">
		update
			customer
		set
		<if test="orgId!=null">
			org_id = #{orgId},
		</if>
		<if test="custName!=null">
			cust_name = #{custName},
		</if>
		<if test="description!=null">
			description = #{description}
		</if>
		where
			id = #{id}
	</update>

	<delete id="deleteCustomer" parameterType="java.lang.Long">
		delete from
			customer
		where
			id = #{id}
	</delete>
</mapper>
